<% if user_signed_in? %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= active?(root_path) %>"><%= link_to "", root_path, class: 'glyphicon glyphicon-home' %></li>
    
    <%= render 'shared/overtime_tabs' if employee? %>
    <%= render 'shared/audit_log_tab' if admin? %>

    <li class="pull-right dropdown">  
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span>
      </a>
    	<ul class="dropdown-menu">
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <%= render 'shared/admin_dropdown' if admin? %>
    	</ul>
    </li>
  </ul>
<% end %>