<tr>
	<td><%= post.daily_hours %></td>
	<td class="hidden-xs"><%= truncate(post.rationale) %></td>
	<td><%= link_to post.date, post_path(post) %> </td>
	<td><%= status_label(post.status) %></td>
	<td><%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil icon icon-edit", id: "edit-post-#{post.id}" %></td>
	<td><%= link_to '', post_path(post), method: :delete, class: "glyphicon glyphicon-trash icon icon-delete", id: "delete-post-#{post.id}", data: {confirm: 'Are you sure?'} %></td>
</tr>